/* CSS definition file containing site stylesheet */
@font-face {
    font-family: "Diablo Heavy";
    src: url("../fonts/DIABLO_H.ttf");
}
@font-face {
    font-family: "Diablo Light";
     src: url("../fonts/DIABLO_L.ttf");
 }
html {
    cursor: url(../images/cursorSmall.png), auto;
 }
 a, select {
     cursor: inherit;
     text-decoration: none;
     color: white;
 }
 a:visited {
     text-decoration: none;
     color: white;
 }
 ul {
     list-style: none;
 }
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
tr {
    padding: 0;
}
tr:hover {
    background-color: rgba(100,100,100,0.3);
}
tr:not(:last-child) {
    border-bottom: 1px solid #E3E3E3;
}
 body {
 	background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
     margin: 0;
     background-size: auto;
     background-position: auto;
 }
 .container {
     width: 100vw;
     height: 100vh;
 }
#navbarPlaceholder {
     color: white;
     width: 25%;
     position: relative;
     float: left;
     background-size:cover;
     height: 100%;
     font-family:"Diablo Heavy";
     font-size: 2em;
     display: block;
}
 #navbar {
     color: white;
     width: 25%;
     float: left;
     background: linear-gradient(to right, rgba(0,0,0,0.8) , rgba(0,0,0,0));
     background-size:cover;
     height: 100%;
     font-family:"Diablo Heavy";
     font-size: 2em;
     position: fixed;
     z-index: 1;
 }
 #navbar li {
     margin-bottom: 1em;
 }
 #content {
     position: relative;
     float: left;
     margin: 3% auto;
     padding: 3% 0;
     color: white;
     background-color: rgba(0,0,0,0.85);
     border: 10px solid #993d00;
     border-image: url(../images/borderBrown2.png) 10 stretch;
     width: 70%;
 }
 #h1Text {
 	font-family:"Diablo Heavy";
     font-size: 10px;
     letter-spacing: 3px;
     text-shadow: 0 0 0.5em white;
     text-align: center;
 }
 #h1Text h1 {
      font-size: 5em;
     margin: 0 0 3%;
  }
#contentText {
    width: 80%;
    margin: 0 auto
}
.customListItem {
     background-image: url(../images/listItem.png);
     background-clip: border-box;
     font-family:"Diablo Light";
     width: 278px;
     height: 58px;
     line-height: 58px;
     font-size: 1.1em;
     text-align: center;
     cursor: inherit;
 }
 .customListItem:hover {
     background-image: url(../images/listItemOnHover.png);
     text-shadow: 0 0 0.5em white;
 }
 .customButton {
     background-image: url(../images/button.jpg);
     background-clip: border-box;
     font-family:"Diablo Light";
     width: 175px;
     height: 58px;
     line-height: 58px;
     font-size: 1.5em;
     text-align: center;
     cursor: inherit;
     margin: 2% 0 5%;
 }
 .customButton:hover {
     background-image: url(../images/onHoverButton.jpg);
  }
select {
    width: 100% !important;
}
#selectSection {
    float: right;
}